Django==5.1
django-ace==1.32.4
django-compressor==4.5.1
django-libsass==0.9
social-auth-app-django==5.4.2
django-crispy-forms==2.3
django-mathfilters==1.0.0
websockets==13.0.1
asgiref==3.8.1
python-dotenv==1.0.1