Django==6.0.6
django-ace==1.44.0
django-compressor==4.6.0
django-libsass==0.9
social-auth-app-django==5.9.0
django-crispy-forms==2.6
django-mathfilters==1.0.0
websockets==17.0.1
asgiref==3.11.1
python-dotenv==1.2.2