Django==5.1.7
django-ace==1.39.2
django-compressor==4.5.1
django-libsass==0.9
social-auth-app-django==5.4.3
django-crispy-forms==2.4
django-mathfilters==1.0.0
websockets==15.0.1
asgiref==3.9.0
python-dotenv==1.1.0